body {
    padding-top: 72px;
}

iframe {
    max-width: 100%;
    border-radius: 16px;
}


section {
    padding: 16px;
    padding-bottom: 72px;
    
}

.gallery-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;

    min-height: 100px;
    margin-bottom: 24px;
}

.gallery-container .col-md {
    padding-bottom: px !important;
}

.close {
    position: fixed;
    text-decoration: none;
    margin-top: 20px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color:black;
    z-index: 1;
    right: 2rem;
    top: 0px;
}


/* hide modal hashtag */
#picture {
    color: rgba(0,0,0,0);
}

.modal {
    z-index:1;
    display:none;
    padding-top: 24px;
    position:fixed;
    
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
    background-color: rgba(68, 68, 68, 0.8);
    text-align: center;
}


.modal-content img {
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.modal-content {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    border: none;
}


@media (min-width: 768px) {
    /* TV graphic, desktop only */
    #videos-title {

        padding: 96px;
        background-image: url('/images/gallery/tv.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    
        width: 100%;
    
        background-position: calc(50% + 10px) 50%;
     
    }

    iframe {
        margin-bottom: 56px;
    }

    .close {
        position: fixed;
        text-decoration: none;
        margin-top: 20px;
        right: 10px;
        font-size: 30px;
        font-weight: bold;
        color:black;
        z-index: 1;
        right: 2rem;
        top: 2rem;
    }

    .gallery-container {
        padding: 24px;
    }

    .gallery-container img {
        height: 75%;
        min-height: 300px;
        border-radius: 24px;
    }

    #img-01 {
        width: 100px;
        margin: 0 auto;
    }
    
    .modal-content {
        width: 50%;
    }
    
}

