.navbar {
    background: none;
}

.navbar-brand {
    font-family: 'Pasti';
    font-style: normal;
}

.navbar .nav-item {
    font-family: 'Singulier';
    font-style: normal;
    text-transform: uppercase;
}

.navbar a {
    font-style: normal;
}