.navbar {
    background: none;
}

.navbar-brand {
    font-family: 'Pasti';
    font-style: normal;
}

.nav-item {
    font-style: normal;
}



.navbar .nav-item {
    font-family: 'Singulier';
    text-transform: uppercase;
}